.what-Nyuray{
    height: 700px;
    width: 100%;
    text-align: center;
    background-color:  rgb(247, 184, 202);
}
.nyuray-Features{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.featureDesc{
    margin: 0px 60px;
    display: inline-block;
    width: 400px;
    height: 500px;

}
.MuiCard-root{
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.MuiCardActionArea-root{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.MuiButtonBase-root.MuiCardActionArea-root{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.MuiCardContent-root  {
    background-color: rgb(219, 132, 158);
}
.MuiCardActions-root{
    background-color: rgb(219, 132, 158);
    justify-content: space-between;
}
.MuiCardActions-spacing{
    background-color: rgb(219, 132, 158);
}
.MuiCardMedia-root{
    flex-grow: 1;
}

#cardButton:hover{
    background-color: rgb(223, 89, 129);
}
.MuiButton-label:hover{
    border-radius: 10%;
    color: black;
}
#cardHeader{
    background-color: rgb(224, 64, 112);
}