@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color:  rgb(245, 207, 218);
}

.brand-logo{
    margin-top: -.7%;
    position: fixed;
    left: 0;
}


.hide {
    display: none;
}

.menu {
    width: 100%;
    background-color: rgb(231, 84, 128);
    box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    position: relative;
    float: center;
    margin-left: 0;
}

.menu__right {
    display: flex;
    align-items: center;
    height: 100%;
}
#logo{
    float: left;
}
.menu__list {
    list-style-type: none;
    padding: 0;
    height: 100%;
    margin: 0;
    margin-right: 40px;
}

.menu__list-item {
    display: inline-block;
    height: 100%;
    margin-right: 20px;
}

.menu__list-item:last-child {
    margin-right: 0;
}

.menu__link {
    color: #3a3e47;
    display: inline-block;
    height: 100%;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding: 0 3px;
}

.menu__link:hover {
    color: #ffaa3b;
}

.menu__link--active {
    color: #ffaa3b;
    border-top: 4px solid #ffaa3b;
    font-weight: 700;
}

.menu__logo {
    text-indent: -9999999px;
    display: inline-block;
    height: 100%;
    width: 10%;
    background-image: url(./../../images/vidyalayamitra.JPG);
    background-size: cover 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.menu__search-button {
    height: 42px;
    width: 42px;
    border-radius: 50%;
    border: 1px solid #c8c9ce;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    background-image: url(./../../images/search-icon.png);
    background-repeat: no-repeat;
    background-position: center;
}

.menu__search-form {
    position: absolute;
    top: 100%;
    right: 0;
    padding: 10px;
    background-color: white;
}

.menu__search-input {
    outline: none;
    border: 1px solid #c8c9ce;
    font-size: 18px;
    padding: 5px;
    font-weight: 300;
}

@media(max-width: 860px){
    .menu__right{
        display: none;
    }
}
.hamberger-button{
    margin-top: 1.5rem;
}
/* @media(min-width: 796px){
    .hamberger-button{
        display: none;
    }
} */